<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435723415535-agfcojq5mg65ndu98uenh671ncu26sls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435723415535-agfcojq5mg65ndu98uenh671ncu26sls</string>
	<key>API_KEY</key>
	<string>AIzaSyDCUt1a4Xp7oDA1L6gJhKhRPVdvGPE7BUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>435723415535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uli.app.farmapp</string>
	<key>PROJECT_ID</key>
	<string>farmapp-42387</string>
	<key>STORAGE_BUCKET</key>
	<string>farmapp-42387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435723415535:ios:ccd99f5c9e0ceb6d0fd01a</string>
</dict>
</plist>